.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 619px;
}

.u-section-1 .u-group-1 {
  min-height: 589px;
  text-shadow: 0px 0px 20px rgba(0,0,0,0);
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.0625rem;
  line-height: 1;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  margin: 18px auto 0;
}

.u-section-1 .u-text-2 {
  font-style: italic;
  font-size: 1.125rem;
  width: 740px;
  margin: 28px auto 0;
}

.u-section-1 .u-gallery-1 {
  height: 420px;
  grid-gap: 17px 17px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: auto auto auto;
}

.u-section-1 .u-gallery-item-1 {
  margin-right: 5px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(44,204,196,1), rgba(44,204,196,1));
  padding: 20px;
}

.u-section-1 .u-gallery-item-2 {
  margin-right: 5px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(44,204,196,1), rgba(44,204,196,1));
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
  margin-right: 5px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(44,204,196,1), rgba(44,204,196,1));
  padding: 20px;
}

.u-section-1 .u-gallery-item-4 {
  margin-right: 5px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(44,204,196,1), rgba(44,204,196,1));
  padding: 20px;
}

.u-section-1 .u-gallery-item-5 {
  margin-right: 5px;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(44,204,196,1), rgba(44,204,196,1));
  padding: 20px;
}

.u-section-1 .u-gallery-item-6 {
  margin-right: 5px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(44,204,196,1), rgba(44,204,196,1));
  padding: 20px;
}

.u-section-1 .u-gallery-item-7 {
  margin-right: 5px;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(44,204,196,1), rgba(44,204,196,1));
  padding: 20px;
}

.u-section-1 .u-gallery-item-8 {
  margin-right: 5px;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(44,204,196,1), rgba(44,204,196,1));
  padding: 20px;
}

.u-section-1 .u-gallery-item-9 {
  margin-right: 5px;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(44,204,196,1), rgba(44,204,196,1));
  padding: 20px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(3, auto);
    grid-gap: 5px 5px;
  }

  .u-section-1 .u-over-slide-1 {
    min-height: 100px;
  }

  .u-section-1 .u-over-slide-2 {
    min-height: 100px;
  }

  .u-section-1 .u-over-slide-3 {
    min-height: 100px;
  }

  .u-section-1 .u-over-slide-4 {
    min-height: 100px;
  }

  .u-section-1 .u-over-slide-5 {
    min-height: 100px;
  }

  .u-section-1 .u-over-slide-6 {
    min-height: 100px;
  }

  .u-section-1 .u-over-slide-7 {
    min-height: 100px;
  }

  .u-section-1 .u-over-slide-8 {
    min-height: 100px;
  }

  .u-section-1 .u-over-slide-9 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 50vw;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 4px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-image-1 {
  min-height: 513px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/sdsd-min.jpg");
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  background-size: 125%;
  background-position: 50% 50%;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  height: auto;
  width: 1068px;
  margin: 129px auto 76px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 16.5px));
  min-height: 252px;
  grid-gap: 22px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-group-1 {
  width: 119px;
  min-height: 121px;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-text-1 {
  font-size: 2.75rem;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-group-2 {
  width: 119px;
  min-height: 121px;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-text-3 {
  font-size: 2.75rem;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-group-3 {
  width: 119px;
  min-height: 121px;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 20px;
}

.u-section-2 .u-text-5 {
  font-size: 2.75rem;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px;
}

.u-section-2 .u-group-4 {
  width: 119px;
  min-height: 121px;
  margin: 30px auto 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 20px;
}

.u-section-2 .u-text-7 {
  font-size: 2.75rem;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    min-height: 423px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 222px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    min-height: 324px;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    min-height: 573px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 27px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 27px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 27px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    min-height: 741px;
    background-size: auto 125%;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 41px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-3 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-4 {
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    min-height: 1050px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 19px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-5 {
    font-size: 2.25rem;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-7 {
    font-size: 2.25rem;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 341px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
  background-image: none;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 340px;
}

.u-section-3 .u-container-layout-1 {
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  padding: 30px 26px;
}

.u-section-3 .u-text-1 {
  margin: 37px auto 0 33px;
}

.u-section-3 .u-text-2 {
  margin: 33px 33px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-3 .u-layout-wrap-1 {
    min-height: 152px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 280px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 2px;
    margin-bottom: 2px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 315px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    min-height: 295px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 314px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 23px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 25px;
    margin-left: 17px;
    margin-right: 17px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 620px;
}

.u-section-4 .u-group-1 {
  background-image: none;
  min-height: 587px;
  width: 1140px;
  text-shadow: 0px 0px 40px rgba(0,0,0,0);
  margin: 3px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-4 .u-layout-wrap-1 {
  background-image: none;
  margin-top: -590px;
  margin-bottom: -8px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 554px;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 5px 30px 0;
}

.u-section-4 .u-text-2 {
  margin: 98px auto 0 150px;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  line-height: 1.8;
  margin: 19px 30px 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 700;
  border-style: none none solid;
  padding: 0;
}

.u-section-4 .u-text-4 {
  text-transform: none;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 84px auto 0 201px;
}

.u-section-4 .u-social-icons-1 {
  height: 50px;
  min-height: 16px;
  width: 110px;
  min-width: 42px;
  white-space: nowrap;
  margin: 24px auto 0 202px;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 554px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-text-5 {
  text-transform: none;
  letter-spacing: normal;
  margin: 68px auto 0 29px;
}

.u-section-4 .u-form-1 {
  height: 390px;
  margin: 24px 49px 0 29px;
}

.u-section-4 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-4 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-4 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-4 .u-btn-2 {
  font-size: 1.125rem;
  letter-spacing: 3px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -33px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 84px;
    margin-left: 128px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 141px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-left: 157px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 57px;
  }

  .u-section-4 .u-form-1 {
    margin-right: 0;
  }

  .u-section-4 .u-btn-2 {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 531px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 13px;
    margin-left: 77px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 24px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-top: 13px;
    margin-left: 77px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 25px;
    margin-left: 95px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 531px;
  }

  .u-section-4 .u-btn-2 {
    border-style: solid;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1025px;
  }

  .u-section-4 .u-group-1 {
    min-height: 992px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -995px;
    margin-bottom: 63px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 295px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 513px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -552px;
    margin-left: 164px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 11px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 24px;
    margin-left: 177px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 24px;
    margin-left: 185px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 558px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-5 {
    width: 285px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-form-1 {
    width: 429px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 958px;
  }

  .u-section-4 .u-group-1 {
    min-height: 936px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: -939px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 384px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-2 {
    margin-top: -520px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 3px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 514px;
  }

  .u-section-4 .u-container-layout-3 {
    padding: 29px 0;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-top: -11px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-4 .u-form-1 {
    width: 320px;
    margin-top: 26px;
  }
}